<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiehfut.issmmybatisexample.mapper.EmpMapper">


    <!--Emp getEmpById(Integer id);-->
    <select id="getEmpById" resultType="com.jiehfut.issmmybatisexample.bean.Emp">
        select id, emp_name empName, age, emp_salary empSalary from t_emp where id = #{id}
    </select>

    <!--void insertEmp(Emp emp);-->
    <!--设置主键回显机制-->
    <insert id="insertEmp" useGeneratedKeys="true" keyProperty="id">
        insert into t_emp(emp_name, age, emp_salary) values (#{empName}, #{age}, #{empSalary})
    </insert>

    <!--void updateEmp(Emp emp);-->
    <update id="updateEmp">
        update t_emp set emp_name = #{empName},
                         age = #{age},
                         emp_salary = #{empSalary}
        where id = #{id}
    </update>

    <!--void deleteEmp(Integer id);-->
    <delete id="deleteEmp">
        delete from t_emp where id = #{id}
    </delete>

</mapper>